<% provide(:title, @user.display_name) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>
      <%= @user.display_name %>
    </h1><% if @user == current_user %>
    <p align="center">THIS IS YOU<br><%= link_to "Edit Profile", edit_user_path(@user) %> <% end %><br>
    <p>Real name: <%= @user.name %>
    <p>Sex: <%= @user.sex %>
    <p>DOB: <%= @user.birthday %>
    <p>Zip: <% @user.zip_code %>
    <p>About Me: <%= @user.content %>
  </div>
</div>